body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-image: url("img/tlo.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    width: 460px;
}
header {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
#header2 {
    display: flex;
    justify-content: center;
    color: #cbd6df;
    font-size: 9px;
    padding-bottom: 30px;
}
#img {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
#row1 {
    display: flex;
    justify-content: space-evenly;
}
#row2 {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
#row3 {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
#row4 {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
#h-text {
    display: flex;
    justify-content: center;
    color: #cbd6df;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cbd6df2f;
}
#text {
    padding-top: 10px;
    color: #cbd6df;
    font-size: 13px;
    line-height: 32px;
    text-align: justify;
}
.link {
    color: #cbd6df;
    text-decoration: underline dotted;
}
.link:hover {
    color: #819791;
}
#mail {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
footer {
    display: flex;
    justify-content: center;
    font-size: 11px;
    color: #444;
    padding-top: 50px;
}
