body {
    margin: 0px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: #f3f4f5;
}
main {
    grid-template-areas: 
        "upper"
        "content"
        "lower"
        "sidebar";
}

.menu-nav-class {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.menu-nav-class a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.menu-nav-class a:hover {
    color: #f1f1f1;
}

.menu-nav-class .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.menu-rozwieniecie {
    display: none;
}

#menu {
    margin: 0px 20px 0px 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #cad2d7;
}
#logo img {
    max-width: 131px;
    height: auto;
}
#navi {
    font-size: 30px;
}
#upper {
    grid-area: upper;
}
#content {
    grid-area: content;
}
.black-text {
    color:#2d3438;
}
.orange-text {
    color: #ffc000;
}
.content-box {
    padding: 20px 14px 0px 14px;
}
.contnet-box-title {
    color: #2d3438;
    font-size: 66px;
    font-weight: bolder;
}
.contnet-box-title-text {
    padding-top: 18px;
    color: #3C4A52;
    font-size: 24px;
    line-height: 32px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px 0px 30px;
}
.content-box2 {
    margin: 16px 16px;
    color: #656A6F;
    font-size: 16px;
}
.orange-dot {
    font-size: 66px;
    color: #ffc000;
}
.orange-arrow {
    color: #ffc000;
}
.social-link {
    padding: 1px;
    color: #656a6f;
    opacity: .4;
}
.social-link img {
    width: 31px;
}
.dash {
    border-top: 1px dashed #cad2d7;
}
.dots {
    border-top: 1px dotted #cad2d7;
}
.content-text-style {
    padding: 0px 16px;
    color: #2d3438;
    font-weight: bold;
    font-size: 24px;
}
hr {
    margin: 48px 0px;
}
.content-common-text {
    color: #656a6f;
    font-size: 16px;
    font-weight: normal;
    margin: 16px 0px;
}
.button-boxes {
    display: grid;
    grid-template-areas: "regular-button small-button xsmall-button";
}
.regular-button-box {
    grid-area: regular-button;
}
.small-button-box {
    grid-area: small-button;
}
.xsmall-button-box {
    grid-area: xsmall-button;
}
.regular-button {
    color: #FFF;
    font-size: 18px;
    background-color: #FFC000;
    margin: 9px 0px;
    padding: 10.8px 21.6px;
    border-radius: 5px;
}
.small-button {
    grid-area: small-button;
    color: #FFF;
    font-size: 14px;
    background-color: #FFC000;
    margin: 7px 0px;
    padding: 5.6px 12.6px;
    border-radius: 5px;
}
.xsmall-button {
    grid-area: xsmall-button;
    color: #FFF;
    font-size: 12px;
    background-color: #FFC000;
    margin: 6px 0px;
    padding: 2.4px 8.4px;
    border-radius: 5px;
}
.zdjecie {
    margin: 41px 0px;
    border: 6px solid #fff;
}
.zdjecie img {
    height: auto;
    width: 100%;
    vertical-align:top;
}
.form-style {
    padding: 0px 16px 0px 16px;
    color: #2d3438;
    font-weight: normal;
    font-size: 16px;
}
table{
	border: 1px solid #dde1e5;	
	text-align: left;
	width: 100%;
	background: #ffffff;
}
table th{
	padding: .5em;
	border: 1px solid #dde1e5;
	background-color: #ebedef;
	vertical-align: top;	
}
table td{
	padding: .5em;
	border: 1px solid #dde1e5;
	vertical-align: top;	
}
table tr:nth-child(2n+1){
	background-color: #f8f8f8;
}

form{
	margin-top: 3em;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset{
	padding: 1em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #d9d6cf;
	margin-bottom: 1em;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset fieldset{
	background: #ffffff;
}
label{
	font-weight: normal;
	font-family: 'robotobold';
	padding-right: 1em;
	display: block;
}
input[type=text],  input[type=email], input[type=password], textarea{
 	border: 1px solid #dde1e5;
	background: #ffffff;
	padding: 10px 2%;
	font-family: 'robotolight_italic';
	color: #969ca5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	outline: none;
	margin-bottom: 1em;
	resize: none;
	display: block;
	width: 68%;
	-webkit-appearance: none;
}
 input[type=text]:focus, textarea:focus, input[type=email]:focus, input[type=password]:focus{
 	border: 1px solid #efdca2;
}
textarea{
	width: 96%;
	height: 140px;
	display: block;
	resize: none;
	outline: none;
}
select, input[type=radio], input[type=checkbox] {
	margin-bottom: 1em;
	margin-right: 6px;
}
.error[generated=true] {
	font-size: 14px;
	font-family: 'robotoitalic';
}
#sidebar {
    grid-area: sidebar;
    padding: 0px 16px;
}
#sidebar-title {
    font-size: 36px;
    color:#2d3438;
    font-weight: bold;
}
#logos {
    margin: 20px 15px 0px 15px;
    padding: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
}
#email {
    line-height: 20px;
    padding: 25px 0px 25px 8px;
    margin-left: 25px;
    color: #3c4a52;
    font-weight: bolder;
}
#lower {
    grid-area: lower;
}
#copyright {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}
#copyright-logo img {
    width: 44px;
    height: auto;
}
#copyright-text {
    padding-left: 5px;
    font-size: 14px;
    color: #9fa6aa;
}
@media screen and (min-width: 880px) {
    body {
        display: flex;
        justify-content: center;
    }
    main {
        display: grid;
        max-width: 1140px;
        grid-template-areas: 
        "upper upper upper upper upper"
        "content content content sidebar sidebar"
        "lower lower lower lower lower ";
    }
    #menu {
        padding: 60px 20px 20px 20px;
    }
    #navi {
        display: none;
    }
    #navi-rozwiniete {
        display: flex;
        justify-content: space-between;
    }
    #menu-roz {
        display: flex;
        justify-content: space-between;
        max-width: 900px;
    }
    .menu-rozwieniecie {
        justify-content: center;
        display: flex;
        width: 80px;
        height: 40px;
        border-radius: 5px;
        margin-left: 20px;
    }
    .menu-rozwieniecie-text {
        text-align: center;
        font-weight: bolder;
        padding-top: 10px;
        color: #000;
    }
    a:link{
        text-decoration: none!important;
        cursor: pointer;
    }
    .menu-rozwieniecie:hover {
        background-color: #ffc000;
        color: #fff;
    }
    .nav-active {
        background-color: #ffc000;
    }
    .nav-active a {
        text-decoration-color: #fff;
    }
    #content-box2-box {
        display: flex;
        justify-content: space-between;
    }
    #image-row2 {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
    }
    #image-row3 {
        display: flex;
        justify-content: space-between;
        column-gap: 40px;
    }
    #lower {
        border-top: 1px solid #cad2d7;;
    }
    #columns-row1 {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
    #columns-row2 {
        display: flex;
        justify-content: space-between;
        column-gap: 30px;
    }
    #columns-row3 {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
    #columns-row4 {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
    #columns-row4-1 {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
        max-width: 50%;
    }
    #columns-row5 {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
    #columns-row5-1 {
        max-width: 20%;
    }
    #columns-row6 {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;
    }
    #columns-row6-2 {
        max-width: 25%;
    }
}