body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#header-bar{
    height: 5px;
    background-color: #242e30;
    width: 100%;
}
#main {
    width: 1000px;
}
#columns {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 2px solid #444;
    align-items: flex-end;
}
#column-left {
    width: 400px;
}
#column-right {
    width: 400px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    padding: 0 20px 0 20px;
}
#logo2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}
#logo2-text {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 143, 179);
    padding-bottom: 50px;
}
#columns2 {
    height: 300px;
    display: flex;
    padding-bottom: 15px;
    margin-bottom: 5px;
    border-bottom: 2px solid #444;
}
#column-left2 {
    width: 500px;
    padding-right: 10px;
}
#column-right2 {
    width: 500px;
    padding-left: 10px;
}
#circles {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    font-size: 25px;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-bottom: 50px;
}
#circle {
    width: 200px;
    height: 200px;
    background: rgb(39, 148, 199);
    border-radius: 50%;
    opacity: 0.7;
}
#circle2 {
    width: 200px;
    height: 200px;
    background: rgb(39, 148, 199);
    border-radius: 50%;
    margin-left: -40px;
    opacity: 0.7;
}
#circle3 {
    width: 200px;
    height: 200px;
    background: rgb(39, 148, 199);
    border-radius: 50%;
    margin-right: 40px;
    opacity: 0.7;
}
#circle:hover {
    opacity: 0.85;
}
#circle2:hover {
    opacity: 0.85;
}
#circle3:hover {
    opacity: 0.85;
}
.columns3-class {
    width: 240px;
    font-size: 25px;
    padding-bottom: 20px;
    border-bottom: 2px solid #444;
}
#columns3 {
    display: flex;
    justify-content: space-between;
}
.columns4-class {
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    width: 240px;
    text-decoration: none;
}
#columns4 {
    display: flex;
    justify-content: space-between;
}
#footer {
    width: 100%;
    margin-top: 40px;
    padding: 40px;
    text-align: center;
    color: rgb(107, 107, 107);
    height: 200px;
    background-color: #242e30;
    background-image: url(zabek.jpg);
    background-repeat: repeat-x;
}